.button {
  border-radius: 15px;
  border: 2px solid;
  transition: 300ms;

  &__main {
    width: 296px;
    height: 56px;
  }

  &__secondary {
    width: 290px;
    height: 48px;
    background-color: $color-primary-300;
    border-color: $color-primary-300;

    &:hover {
      color: $color-primary-300;
      border: 2px solid $color-primary-300;
    }
  }

  &__form {
    min-width: 190px;
    height: 54px;
    background-color: $color-primary-200;
    border-radius: 15px;
    border: 2px solid $color-primary-200;

    &:hover {
      background-color: #000;
      color: $color-primary-200;
    }
  }

  &-light {
    color: $color-primary-100;
    background-color: $color-primary-200;
    border-radius: 15px;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 16px;
    border: 2px solid transparent;
    width: 100%;
    transition: all $transition-duration;
    margin-top: 1px;

    &:hover {
      color: $color-primary-200;
      background-color: transparent;
      border-color: $color-primary-200;
    }

    &:active {
      color: $color-primary-100;
      background-color: $color-primary-200;
    }

    &:disabled {
      opacity: 0.4;
    }
  }
}
