.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  gap: 20px;

  &__card {
    min-height: 366px;
    transition: 0.3s;
    border-radius: 18px;
    box-shadow: 0 0 18px 0 rgba(68 68 68 / 9%);

    :hover {
      opacity: 0.9;
      box-shadow: 0 0 18px rgba(20 20 20 / 9%);
    }

    &--sold {
      position: relative;
      filter: grayscale(100%);

      ::before {
        position: absolute;
        content: "SOLD";
        top: 18%;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-family: Poppins, sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 75px;
      }
    }

    &--new {
      position: relative;

      ::after {
        position: absolute;
        content: url("../images/Newnew.svg");
        left: 0;
        bottom: 44%;
      }
    }

    &-title {
      display: flex;
      font-weight: 400;
      font-size: 17px;
      gap: 8px;
      margin-bottom: 16px;
    }

    &-description {
      padding: 20px;
    }

    &-details {
      font-size: 14px;
      line-height: 19px;
      color: #8d8d8d;
      margin-bottom: 26px;
    }

    &-year {
      font-family: Poppins, sans-serif;
      line-height: 26px;
      color: #8d8d8d;
      font-size: 17px;
      font-weight: 400;
    }

    &-price {
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
    }
  }
}
